body {
    margin: 0;
    background-color: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;
}

h3 {
    /* position: absolute; */
    width: 149px;


    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;

    /* identical to box height, or 90% */

    text-align: center;
    color: #EEEEEE;
}

p.score {
    width: 155px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 90px;
    border-radius: 5px;
    text-align: center;
    background-color: black ;
    color: red;
}

.button {
    display: flex;
    justify-content: space-around;
}

button {
    border: solid 1px #9AABD8;
    border-radius: 5px;
    background-color: #1B244A;
    color: white;
    font-size: 18px;
    padding: 5px;
}